.skillsSection {
    scroll-margin-top: 4rem;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.532);

}

.skillsSection h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsSection h2:hover {
    text-shadow: 0 0 2px #714b2f;
}

.skillsSection h3 {
    margin: 0;
    font-size: 1rem;
}

.skillsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

.skillItem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px #714b2f;
    color: #9c6238;

}

.skillIcon {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-bottom: 0.5rem;
}