:root {
    --background_heder: #fff;
    /*#abacad*/
    --background_hamburger: #c9c7c7;
    --color_text: #200d0d;
}

.header {
    background: var(--background_heder);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 2px solid #5e5d5de4;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.785);
}

.header.menu-open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
}

.nav {
    display: flex;
    justify-content: center;
}

.menu,
.socialLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.socialLinks {
    margin-left: auto;
    padding-inline-end: 40px;
}

.menu a,
.socialLinks a {
    color: var(--color_text);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.menu a:hover,
.socialLinks a:hover {
    transition: color 0.3s;
    color: #ba8903;
}

.socialLinks a,
.socialLinks div {
    font-size: 1.6rem;
}

.hamburger {
    display: none;
    cursor: pointer;
    color: var(--color_text);
    font-size: 1.5rem;
}

@media (max-width: 550px) {
    .header {
        background-color: var(--background_hamburger);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .hamburger {
        display: flex;
        justify-content: flex-end;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--background_hamburger);
        flex-direction: column;
        align-items: flex-start;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        padding: 0;
        margin: 0;
    }

    .menu.active {
        max-height: inherit;
        padding: 0.5rem 0;
        gap: 0;
        display: flex;
        align-items: center;
        text-align: center;
        border-radius: 0 0 20px 20px;
        border-bottom: 2px solid #5e5d5de4;
        box-shadow: 0 20px 10px rgba(0, 0, 0, 0.477);
    }

    .menu li {
        width: 90%;
        padding: 0.5rem 0;

        a {
            font-size: 1.2rem;
            border-bottom: 3px solid #f0b883;
        }

        a:hover {
            color: #560202;
            border-bottom: 3px solid #ba8903;
        }
    }
}