.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

    margin: 0 auto;
    gap: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.intro h1 {
    font-size: 2.5rem;
    font-weight: bold;
    /* color: #1a1a1a; */
}

.intro h2 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    color: #795943;
}

.intro p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #5e4d41;
}

/* Responsive */
@media (max-width: 768px) {
    .intro {
        padding: 1.5rem;
    }

    .intro h1 {
        font-size: 2rem;
    }

    .intro h2 {
        font-size: 1.3rem;
    }

    .intro p {
        font-size: 1rem;
    }
}